<!DOCTYPE html>
<html lang="zh" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div data-th-fragment="footer">
    <!-- #################################### -->
    <script src="../static/js/jquery-3.3.1.min.js" type="text/javascript" charset="utf-8" th:src="@{js/jquery-3.3.1.min.js}"></script>
    <script src="../static/js/bootstrap.bundle.min.js" type="text/javascript" charset="utf-8" th:src="@{js/bootstrap.bundle.min.js}"></script>
    <script src="../static/js/wow.min.js" type="text/javascript" charset="utf-8" th:src="@{js/wow.min.js}"></script>
    <script src="../static/js/index.js" type="text/javascript" charset="utf-8" th:src="@{js/index.js}"></script>
</div>
</body>
</html>