<!DOCTYPE html>
<html lang="en"xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <table border="1">
        <tr>
            <td>星期一</td>
            <td>星期二</td>
            <td>星期三</td>
            <td>星期四</td>
            <td>星期五</td>
        </tr>
        <tr th:each="c:${cou}">
            <td th:text="${c.c1}">${c.c1}</td>
            <td th:text="${c.c2}">${c.c1}</td>
            <td th:text="${c.c3}">${c.c1}</td>
            <td th:text="${c.c4}">${c.c1}</td>
            <td th:text="${c.c5}">${c.c1}</td>
        </tr>
    </table>
</body>
</html>