<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" >
<head>
    <!--thymeleof 模板解析器比较严格 要求所有标签必须闭合 例：<a><a/>  <br/> -->
    <meta charset="UTF-8"/>
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>首页</title>
    <link rel="stylesheet" href="../static/index.css" th:href="@{/index.css}">
</head>
<body>
    <h1>00000000000000000xxxxxxxxxx</h1>
    <!--获取后台传过来的属性 会替换标签中的内容-->
    <h1 th:text="${name}"></h1>
    <!--会把后台传过来的属性解析成html-->
    <div th:utext="${name1}"></div>
    <!--判断标签-->
    <h1 th:if="${flag}">地方可能</h1>
    <!--该标签与if标签的作用相反-->
    <h1 th:unless="${flag}">肯定会</h1>

    <table th:each="l:${list}">
        <tr>
            <td th:text="${l}"></td>
        </tr>
    </table>
    <table border="1" >
        <tr>
            <td>id</td>
            <td>名字</td>
            <td>性别</td>
        </tr>
        <tr th:each="s:${stu}">
            <td th:text="${s.id}"></td>
            <td th:text="${s.name}"></td>
            <td th:text="${s.sex}"></td>
        </tr>
    </table>

</body>
</html>